<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/cb08e7d8-00d3-4fca-ba21-89d01aa54fef/resourceGroups/ThuisFornuis/providers/Microsoft.Web/sites/ThuisFornuis-Backnd</ResourceId>
    <SiteUrlToLaunchAfterPublish>https://thuisfornuis-backnd.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>thuisfornuis-backnd.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ThuisFornuis-Backnd</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ThuisFornuis-Backnd</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>